#!/bin/bash
#set -o nounset

JOBDIR=NameOfJobDirGivenInYaml
ENVPATH=NameOfPathEnvironment
source $ENVPATH
cd /afs/cern.ch/work/s/sbaradia/public/CMSSW_12_3_7/src
cmsenv
cd $JOBDIR/condor_runlog_dir
uname -a > ./sample_INDEX.runlog 2>&1
ulimit -c 0
$JOBDIR/EXE $JOBDIR/PathToJobFile/sample_index.job >> ./sample_index.runlog 2>&1
